.BadgeEmoji {
  width: fit-content;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 2px;
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 32px;
  color: #ffffff;
}
